.text-white{
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
body{
    height: 80vh;
    color: black;
}
.buttons{
    position: fixed;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.container{
    height: inherit;
    overflow: auto;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
.hidden{
    display: none;
}